<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy of iConnectbeta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>iConnect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iConnectbeta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>noti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00E356ED1AD99517003FC87E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13B07F861A680F5B00A75B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581281361E1E131300E5D56E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>581281641E1E13B900E5D56E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
